Repository Lorseri/123, changes with the owners that CODEOWNERS names for each.
All owners: @JinHai-CN, @milvus-io/reviewer, @scsven, @XuPeng-SH, @jeffoverflow, @cydrain, @yhmo, @shengjun1985

CODEOWNERS:

# Each line is a component followed by one or more owners. 

*                        @JinHai-CN
CHANGELOG.md             @milvus-io/reviewer
/sdk                     @scsven
/shards                  @XuPeng-SH
/ci/                     @jeffoverflow @cydrain
/core/                   @scsven
/core/src/db/meta        @yhmo
/core/src/index/         @shengjun1985
/tests/                  @cydrain

bitset: multiple 'and' and 'or' in a single op
  internal/core/src/bitset/bitset.h
  internal/core/src/bitset/common.h
  internal/core/src/bitset/detail/bit_wise.h
  internal/core/src/bitset/detail/element_vectorized.h
  internal/core/src/bitset/detail/element_wise.h
  internal/core/src/bitset/detail/maybe_vector.h
  internal/core/src/bitset/detail/platform/arm/neon-decl.h
  internal/core/src/bitset/detail/platform/arm/neon-impl.h
  internal/core/src/bitset/detail/platform/arm/neon.h
  internal/core/src/bitset/detail/platform/arm/sve-decl.h
  internal/core/src/bitset/detail/platform/arm/sve-impl.h
  internal/core/src/bitset/detail/platform/arm/sve.h
  internal/core/src/bitset/detail/platform/dynamic.cpp
  internal/core/src/bitset/detail/platform/dynamic.h
  internal/core/src/bitset/detail/platform/vectorized_ref.h
  internal/core/src/bitset/detail/platform/x86/avx2-decl.h
  internal/core/src/bitset/detail/platform/x86/avx2-impl.h
  internal/core/src/bitset/detail/platform/x86/avx2.h
  internal/core/src/bitset/detail/platform/x86/avx512-decl.h
  internal/core/src/bitset/detail/platform/x86/avx512-impl.h
  internal/core/src/bitset/detail/platform/x86/avx512.h
  internal/core/src/bitset/detail/proxy.h
  internal/core/unittest/test_bitset.cpp
Owners: @JinHai-CN

feat: support groupby size on go-layer(#33544)
  internal/proto/internal.proto
  internal/proto/plan.proto
  internal/proxy/search_reduce_util.go
  internal/proxy/search_util.go
  internal/proxy/task.go
  internal/proxy/task_search.go
  internal/proxy/task_search_test.go
  internal/querynodev2/delegator/delegator.go
  internal/querynodev2/handlers.go
  internal/querynodev2/segments/result.go
  internal/querynodev2/segments/result_test.go
  internal/querynodev2/segments/search_reduce.go
  internal/querynodev2/segments/search_reduce_test.go
  internal/querynodev2/services.go
Owners: @JinHai-CN

fix: reduce rss_file memory after chunk cache warmup
  internal/core/src/segcore/SegmentSealedImpl.cpp
  internal/core/src/storage/ChunkCache.cpp
  internal/core/src/storage/ChunkCache.h
Owners: @JinHai-CN

Encode traceID and spanID as hex string
  internal/core/src/common/Tracer.cpp
  internal/core/src/common/Tracer.h
  internal/core/src/index/VectorIndex.h
  internal/core/src/query/SearchBruteForce.cpp
  internal/core/unittest/test_tracer.cpp
Owners: @JinHai-CN

Update knowhere commit for test
  internal/core/thirdparty/knowhere/CMakeLists.txt
Owners: @JinHai-CN

Try to upgrade to Minio Dependency
  go.mod
Owners: @JinHai-CN

enhance: Avoid unnecesary syncTargetVersion func call after querycoord recover
  internal/querycoordv2/meta/target.go
  internal/querycoordv2/meta/target_manager_test.go
Owners: @JinHai-CN

enhance compaction clean
  internal/datacoord/compaction.go
  internal/datacoord/compaction_task.go
  internal/datacoord/compaction_task_clustering.go
  internal/datacoord/compaction_task_clustering_test.go
  internal/datacoord/compaction_task_l0.go
  internal/datacoord/compaction_task_mix.go
  internal/datacoord/compaction_test.go
Owners: @JinHai-CN

enhance: reduce some memory after inserting data to growing segment and chunk cache warmup
  internal/core/src/segcore/SegmentSealedImpl.cpp
  internal/core/src/storage/ChunkCache.cpp
  internal/core/src/storage/ChunkCache.h
  internal/querynodev2/segments/segment.go
  internal/util/initcore/init_core.go
Owners: @JinHai-CN

enhance: add valid_data in span
  internal/core/src/common/Span.h
  internal/core/src/exec/expression/CompareExpr.cpp
  internal/core/src/exec/expression/Expr.h
  internal/core/src/mmap/ChunkVector.h
  internal/core/src/mmap/Column.h
  internal/core/src/query/groupby/SearchGroupByOperator.h
  internal/core/src/segcore/ConcurrentVector.h
  internal/core/src/segcore/InsertRecord.h
  internal/core/src/segcore/SegmentGrowingImpl.cpp
  internal/core/src/segcore/SegmentGrowingImpl.h
  internal/core/src/segcore/SegmentInterface.h
  internal/core/src/segcore/SegmentSealedImpl.cpp
  internal/core/src/segcore/SegmentSealedImpl.h
  internal/core/unittest/test_common.cpp
  internal/core/unittest/test_sealed.cpp
  internal/core/unittest/test_span.cpp
Owners: @JinHai-CN

feat: add csv support for bulkinsert
  internal/util/importutilv2/csv/reader.go
  internal/util/importutilv2/csv/reader_test.go
  internal/util/importutilv2/csv/row_parser.go
  internal/util/importutilv2/csv/row_parser_test.go
  internal/util/importutilv2/option.go
  internal/util/importutilv2/reader.go
  internal/util/importutilv2/util.go
  internal/util/testutil/test_util.go
Owners: @JinHai-CN

feat: support multiple vectors in csv import
  internal/util/importutilv2/csv/reader.go
  internal/util/importutilv2/csv/row_parser.go
  internal/util/importutilv2/option.go
Owners: @JinHai-CN

change gpu default mem pool size
  configs/milvus.yaml
  pkg/util/paramtable/component_param.go
Owners: @JinHai-CN

enhance: make delegator delete buffer holding all delete from cp (#29626)
  internal/proto/query_coord.proto
  internal/querycoordv2/observers/target_observer.go
  internal/querynodev2/delegator/delegator.go
  internal/querynodev2/delegator/delegator_data.go
  internal/querynodev2/delegator/delegator_data_test.go
  internal/querynodev2/delegator/delegator_test.go
  internal/querynodev2/delegator/deletebuffer/delete_buffer.go
  internal/querynodev2/delegator/deletebuffer/list_delete_buffer.go
  internal/querynodev2/delegator/deletebuffer/list_delete_buffer_test.go
  internal/querynodev2/delegator/mock_delegator.go
  internal/querynodev2/services.go
  pkg/util/paramtable/component_param.go
Owners: @JinHai-CN

fix mac check failed
  .github/workflows/mac.yaml
  internal/core/build.sh
  scripts/setenv.sh
Owners: @JinHai-CN

fix: Fix the error in judging the EOF flag of the csv file import
  internal/util/importutilv2/csv/reader.go
Owners: @JinHai-CN

feat: add integration test for csv import
  tests/integration/import/dynamic_field_test.go
  tests/integration/import/import_test.go
  tests/integration/import/multi_vector_test.go
  tests/integration/import/util_test.go
Owners: @cydrain

enhance: add channel num for queryHook optimization
  internal/querynodev2/optimizers/query_hook.go
  pkg/common/common.go
Owners: @JinHai-CN

enhance: revert remove duplicated pk function Revert "fix: fix query count(*) concurrently (#35007)" Revert "enhance: mark duplicated pk as deleted (#34586)"
  internal/core/src/segcore/DeletedRecord.h
  internal/core/src/segcore/InsertRecord.h
  internal/core/src/segcore/SegmentGrowing.h
  internal/core/src/segcore/SegmentGrowingImpl.cpp
  internal/core/src/segcore/SegmentGrowingImpl.h
  internal/core/src/segcore/SegmentInterface.cpp
  internal/core/src/segcore/SegmentInterface.h
  internal/core/src/segcore/SegmentSealed.h
  internal/core/src/segcore/SegmentSealedImpl.cpp
  internal/core/src/segcore/SegmentSealedImpl.h
  internal/core/src/segcore/Utils.h
  internal/core/src/segcore/segment_c.cpp
  internal/core/src/segcore/segment_c.h
  internal/core/unittest/test_array_expr.cpp
  internal/core/unittest/test_c_api.cpp
  internal/core/unittest/test_c_stream_reduce.cpp
  internal/core/unittest/test_exec.cpp
  internal/core/unittest/test_expr.cpp
  internal/core/unittest/test_group_by.cpp
  internal/core/unittest/test_growing.cpp
  internal/core/unittest/test_retrieve.cpp
  internal/core/unittest/test_sealed.cpp
  internal/core/unittest/test_utils.cpp
  internal/core/unittest/test_utils/DataGen.h
  internal/querynodev2/segments/segment.go
  internal/querynodev2/segments/segment_loader.go
  tests/python_client/testcases/test_query.py
Owners: @JinHai-CN, @cydrain

fix
  internal/core/unittest/test_chunk.cpp
Owners: @JinHai-CN

fix sparse float
  internal/core/src/common/Chunk.h
  internal/core/src/common/ChunkWriter.cpp
  internal/core/src/common/ChunkWriter.h
  internal/core/unittest/test_chunk.cpp
Owners: @JinHai-CN

enhance: add chunk basic impl
  Makefile
  internal/core/src/common/CMakeLists.txt
  internal/core/src/common/Chunk.cpp
  internal/core/src/common/Chunk.h
  internal/core/src/common/ChunkFileWriter.cpp
  internal/core/src/common/ChunkFileWriter.h
  internal/core/src/common/ChunkTarget.cpp
  internal/core/src/common/ChunkTarget.h
  internal/core/src/common/ChunkWriter.cpp
  internal/core/src/common/ChunkWriter.h
  internal/core/unittest/CMakeLists.txt
  internal/core/unittest/test_chunk.cpp
Owners: @JinHai-CN

change back to release
  Makefile
Owners: @JinHai-CN

enhance: improve error msg when expr invalid during isolation
  internal/util/exprutil/expr_checker.go
  internal/util/exprutil/expr_checker_test.go
Owners: @JinHai-CN

fix
  internal/core/src/common/ChunkWriter.h
Owners: @JinHai-CN

Skip updating the level for segments that are already at the specified level
  internal/datacoord/compaction_task_clustering.go
  internal/datacoord/meta.go
Owners: @JinHai-CN

Change the fixed value to a ratio for clustering segment size
  configs/milvus.yaml
  internal/datacoord/compaction_policy_clustering.go
  internal/datacoord/compaction_trigger_v2.go
  internal/datacoord/task_analyze.go
  pkg/util/paramtable/component_param.go
  pkg/util/paramtable/component_param_test.go
  tests/integration/compaction/clustering_compaction_test.go
Owners: @JinHai-CN, @cydrain

Forbid access log error message line break
  internal/proxy/accesslog/benchmark_test.go
  internal/proxy/accesslog/info/grpc_info.go
  internal/proxy/accesslog/info/grpc_info_test.go
  internal/proxy/accesslog/info/restful_info.go
  internal/proxy/accesslog/info/restful_info_test.go
Owners: @JinHai-CN

fix evict paramtable cache failed
  pkg/config/manager.go
Owners: @JinHai-CN

fix: double buffer was invalid when put entry which size larger than max size (#31549)
  internal/querynodev2/delegator/deletebuffer/delete_buffer.go
  internal/querynodev2/delegator/deletebuffer/delete_buffer_test.go
Owners: @JinHai-CN

fix: upsert use the previous pk in insert when autoid
  internal/proxy/task_insert.go
  internal/proxy/task_upsert.go
  internal/proxy/util.go
  internal/proxy/util_test.go
  tests/integration/upsert/upsert_test.go
Owners: @JinHai-CN, @cydrain

enhance: adding it for segment pruner(30376)
  internal/querynodev2/delegator/segment_pruner.go
  internal/querynodev2/delegator/segment_pruner_test.go
  tests/integration/segmentprune/segment_prune_test.go
  tests/integration/util_insert.go
Owners: @JinHai-CN, @cydrain

enhance: adding it for segment pruner(30376)
  internal/querynodev2/delegator/segment_pruner.go
  internal/querynodev2/delegator/segment_pruner_test.go
  tests/integration/segmentprune/segment_prune_test.go
  tests/integration/util_insert.go
Owners: @JinHai-CN, @cydrain

enhance:support l2 single compaction
  internal/datacoord/compaction_policy_single.go
  internal/datacoord/compaction_policy_single_test.go
  internal/datacoord/compaction_trigger.go
  internal/datacoord/compaction_trigger_v2.go
  tests/integration/compaction/l2_single_compaction_test.go
Owners: @JinHai-CN, @cydrain

fix: check collection health(queryable) fail for releasing collection
  configs/milvus.yaml
  internal/querycoordv2/services_test.go
  internal/querycoordv2/utils/util.go
  pkg/util/paramtable/component_param.go
  pkg/util/paramtable/component_param_test.go
Owners: @JinHai-CN

enhance: add commit time in partitionStats proto
  internal/datacoord/compaction_policy_clustering.go
  internal/datacoord/compaction_policy_clustering_test.go
  internal/datacoord/compaction_task_clustering.go
  internal/datacoord/compaction_task_clustering_test.go
  internal/datacoord/partition_stats_meta.go
  internal/datacoord/partition_stats_meta_test.go
  internal/proto/data_coord.proto
Owners: @JinHai-CN

enhance: add commit time in partitionStats proto
  internal/datacoord/compaction_policy_clustering.go
  internal/datacoord/compaction_policy_clustering_test.go
  internal/datacoord/compaction_task_clustering.go
  internal/datacoord/compaction_task_clustering_test.go
  internal/datacoord/partition_stats_meta.go
  internal/datacoord/partition_stats_meta_test.go
  internal/proto/data_coord.proto
Owners: @JinHai-CN

format
  internal/core/src/common/Chunk.cpp
  internal/core/src/common/Chunk.h
  internal/core/src/common/ChunkFileWriter.cpp
  internal/core/src/common/ChunkFileWriter.h
  internal/core/src/common/ChunkTarget.cpp
  internal/core/src/common/ChunkTarget.h
  internal/core/src/common/ChunkWriter.cpp
  internal/core/src/common/ChunkWriter.h
  internal/core/unittest/test_chunk.cpp
Owners: @JinHai-CN
